@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap");

//////////////////////////////////////////////
/// VARIABLES
//////////////////////////////////////////////

$restrainedWidth: $base-line-height * 24;
$topBarHeight: $base-line-height * 2;
$timelineHeight: 60rem;
$circleEraHeight: 30rem;
// $introPageWidth: 40rem;
$introPageWidth: 15rem;
$authorsHeight: 33rem;

%restrained {
  max-width: $restrainedWidth;
  margin: 0 auto;
  padding: 0 ($base-line-height * 1);

  @include breakpoint($large) {
    padding: 0 ($base-line-height * 1.5);
  }
}

/// GLOBAL

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  // * NB! Do not enable in production. It breaks dragging on mobile
  // overflow-x: hidden; //* DEBUG
  background: white;
  width: 100%;
  height: 100%;
}

html,
body,
#app,
#vue-app,
.lo_globalContainer,
.lo_sectionList-wrapper {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

button {
  z-index: 1;
  transition: 0.2s all;
}

button:hover {
  cursor: pointer;
}

a {
  color: $main-color;
}

/// TYPOGRAPHY

h3 {
  @include breakpoint($medium) {
    margin-top: $base-line-height * 2;
  }
}

blockquote {
  margin: $base-line-height 0;
  border-left: 4px solid #e6e6e6;
  padding-left: $base-line-height;
}

/// LAYOUT

.lo_globalContainer {
  position: relative;
  width: 100%;
  height: $timelineHeight;
  height: 100%;
}

.lo_restrainedContainer {
  @extend %restrained;
}

/// TOPBAR

.lo_topBar {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 100;
}

.lo_topBar_header {
  display: flex;
  align-items: center;
  width: 100%;
  //height: $topBarHeight; //*Mod for filter
  background: $light-grey;
  // background: rgba(0, 0, 0, 0.5);
  font-weight: 900;
  font-size: 0.9rem;
  color: $main-color;
  text-transform: uppercase;
  padding: 0 ($base-line-height / 4);
  //position: fixed; //*Mod for filter
  top: 0px;
}

.lo_topBar_wrapper {
  position: absolute;
  left: 0;
  right: 0;
  height: 200px;
  overflow: hidden;
}
.lo_topBar_timeline {
  // position: absolute;
  position: sticky;
  //top: $topBarHeight; //*Mod for filter

  // ul {
  display: flex;
  flex-direction: row;
  // position: relative;
  // height: $timelineHeight;
  width: 100%;
  padding: 0;

  margin: 0;
  // }

  pointer-events: none;
  z-index: 1000; // * To put it above other elements on the timeline
  // top: $topBarHeight;
  // top: 0;
  //left: $introPageWidth;
}
.lo_topBar_timeline.lineslots {
  position: absolute;
  top: $topBarHeight;
  z-index: initial;

  .timeslot {
    list-style-type: none;
  }
}

.lo_topBar_timeline::before {
  content: "";
  // width: 8.75rem;
  // width: 1000; //! TODO commented out, set in template // ($base-line-height * 2) + 1rem;
  background: white;
  // left: -8.75rem;
  left: ($base-line-height * 2 * -1) - 1rem;
  height: 2.5rem;
  position: absolute;
  // left: -$introPageWidth;

  @include breakpoint($medium) {
    // width: 1000px; //! TODO commented out, set in template// ($base-line-height * 5) + 1rem;
    left: ($base-line-height * 5 * -1) - 1rem;
  }
}

// * Fixes problem with sticky header not working horizontally
.lo_sectionList-wrapper {
  overflow: auto;
}

.lo_sectionList {
  position: relative;
  //top: $base-line-height * 1.8; //*Mod for filter
  margin: 0;
  display: flex;
  flex-direction: row;
}

.lo_sectionEra {
  // display: flex;
  // flex-direction: column;
  position: relative;
}

.lo_sectionsIntroPage {
  position: relative;
  display: flex;
  flex-shrink: 0;
  // width: 110vw;
  width: 7rem;
  margin-bottom: 1.75rem;
  padding: $base-line-height 0 $base-line-height $base-line-height;

  @include breakpoint($medium) {
    width: $introPageWidth;
  }
}

/// TOPBAR > FILTER BUTTONS

// OVERRIDES
.lo_topBar_header {
  flex-wrap: wrap;
  @include breakpoint($mediumx) {
    height: $topBarHeight;
    position: fixed;
  }
}

.lo_topBar_timeline {
  top: 0;

  @include breakpoint($mediumx) {
    top: $topBarHeight;
  }
}

.lo_sectionList {
  top: -10px;
  @include breakpoint($mediumx) {
    top: $base-line-height * 1.8;
  }
}

.lo_topBar_header h1 {
  font-size: 0.75rem;
  margin: 0;
  @include breakpoint($medium) {
    font-size: 1rem;
  }
}

// FILTERS
.lo_topBar_filters {
  display: flex;
  margin-left: $base-line-height;
  padding-bottom: $base-line-height/4;
  @include breakpoint($medium) {
    padding-bottom: 0;
  }
}

.btn_filter {
  display: flex;
  align-items: center;
  background: none;
  border: 2px solid transparent;
  height: $base-line-height * 1.5;
  border-radius: 4px;

  &:hover {
    background: white;
    border-color: $main-color;
    color: $main-color;
    svg {
      fill: $main-color;
    }
  }

  &_icon {
    width: $base-line-height/1.25;
    height: $base-line-height/1.25;
    svg {
      width: 100%;
      height: auto;
    }
  }
  &_text {
    padding-left: $base-line-height/8;
    font-weight: bold;
    font-size: 0.9rem;
  }
}

.btn_audioText {
  display: flex;
  align-items: center;
  background: $light-grey;
  border: 2px solid $middle-grey;
  height: $base-line-height * 1.5;
  border-radius: 4px;

  &:hover {
    background: white;
    border-color: $main-color;
    color: $main-color;
    svg {
      fill: $main-color;
    }
  }

  &_icon {
    width: $base-line-height/1.25;
    height: $base-line-height/1.25;
    svg {
      width: 100%;
      height: auto;
    }
  }
  &_text {
    padding: 0 $base-line-height/8;
    font-weight: bold;
    //font-size: 0.9rem;
  }
}

// CC Button
.buttonCC {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 4.25rem 1rem -6.25rem 1rem;
  position: absolute;
  z-index: 1;
  fill: $dark-grey;
  border-radius: 50%;

  &:hover {
    fill: $main-color;
  }

  &:focus {
    outline-style: none;
    box-shadow: 0 0 0 0.2rem rgba($main-color, 0.5);
  }
}

/// PART ON THE LEFT OF THE TIMELINE > INSTRUCTIONS

.startInstructions h1 {
  line-height: 110%;
  color: $dark-grey;
  margin-top: $base-line-height;
}

.logoNDLA {
  max-width: $base-line-height * 3;
  fill: #20588f;
  margin-top: $base-line-height;
}

.startTimeline {
  position: relative;
  top: 1.1rem;
  display: block;
  flex-shrink: 0;
  background: tint($main-color, 90%);
  width: $base-line-height * 2;
  height: calc(100% + 10px);
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
  margin-left: $base-line-height;
  box-shadow: (-6px) 0px 6px 0px rgba(black, 0.3);

  @include breakpoint($medium) {
    width: $base-line-height * 5;
    margin-left: $base-line-height * 3;
  }
}

.endTimeline {
  position: relative;
  left: -1rem;
  display: block;
  flex-shrink: 0;
  background: tint($main-color, 80%);
  width: $base-line-height * 2;
  height: calc(100% - 26px);
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;

  @include breakpoint($medium) {
    width: $base-line-height * 5;
  }

  &:before {
    content: "";
    position: sticky;
    background: white;
    width: $base-line-height * 3.6;
    width: 100%;
    height: 3rem; //$base-line-height * 1.35;
    left: 0;
    top: -0.5;
    display: block;
    z-index: 1000;
    border-bottom: 4px solid $main-color;

    @include breakpoint($medium) {
      // top: $topBarHeight;
      // top: 0.5;
      width: 75%;
      // background: blue;
    }
    @include breakpoint($mediumx) {
      // top: 3.5rem;
      height: 2.5rem;
      top: 54px;
      // background: red;
    }
  }
}

.btn_menu,
.btn_close,
.btn_back {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: $base-line-height * 1.5;
  // height: $base-line-height * 1.5;
  background: none;
  border-radius: 4px;
  border: 2px solid transparent;
}

.btn_back svg {
  fill: white;
}

.btn_menu:hover,
.btn_close:hover,
.btn_back:hover {
  background: white;
  border-color: $main-color;
}

.btn_menu:hover svg,
.btn_close:hover svg,
.btn_back:hover svg {
  fill: $main-color;
}

.header_eraName {
  margin-left: $base-line-height / 2;
}

.page .btn_back {
  position: relative;
  left: -$base-line-height / 2;
  font-weight: bold;
  margin-top: $base-line-height;

  svg {
    fill: $main-color;
  }
}

// TIMESLOT

.timeSlot {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  align-items: flex-start;
  flex-shrink: 0;
  &_year {
    padding: 0.1rem 0 0.5rem 0;
    background: white;
    width: 100%;
    text-align: left;
    font-size: 0.9rem;
    transform: translateX(-1rem);
    box-shadow: 12px 4px 0px 0px $main-color;
  }
  &_dot {
    position: relative;
    transform: translate(-40%, -40%);
    width: $base-line-height / 2;
    height: $base-line-height / 2;
    background: $main-color;
    border-radius: 50%;
  }
  &_line {
    position: relative;
    position: absolute;
    width: 2px;
    top: 0;
    height: 97.5rem;
    background: rgba(white, 0.3);
    overflow: hidden;
  }
}

// SECTIONS/ERAS

.sectionList {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  background: $main-color;
  margin-bottom: 1.75rem;
  box-shadow: -6px 0px 6px 0px rgb(0 0 0 / 30%);
  &_item {
    padding: 0;
    margin: 0;
    height: 100%;
    &:nth-child(odd) .lo_sectionEra {
      background: tint($main-color, 90%);
    }
    &:nth-child(even) .lo_sectionEra {
      background: tint($main-color, 80%);
    }
  }
}

/// CIRCLE ERA

.lo_circleEra {
  margin-top: 1.5rem;
  height: $circleEraHeight;
  z-index: 10;
}

.circleEra {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $base-line-height * 12;
  height: $base-line-height * 12;
  margin: 3rem auto;
  &_content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: -4 * $base-line-height;
    padding: 0 ($base-line-height / 2);
    text-align: center;
    background: white;
    border-radius: $base-line-height / 8;
    max-width: $base-line-height * 10;
  }
  &_title {
    margin: 0;
    position: relative;
    top: -$base-line-height / 4;
    line-height: 100%;
    font-size: 1.75rem;
  }
  &_date {
    font-weight: bold;
    background: $main-color;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    line-height: 100%;
    padding: $base-line-height / 8;
    position: relative;
    top: -$base-line-height / 2;
  }
}

.btnEra {
  background: white;
  border: 2px solid $main-color;
  font-weight: bold;
  color: $main-color;
  line-height: 100%;
  border-radius: $base-line-height * 4;
  padding: ($base-line-height / 4) ($base-line-height / 2)
    ($base-line-height / 3) ($base-line-height / 2);

  margin: $base-line-height / 8 0 $base-line-height / 2 0;
  &:hover {
    background: $main-color;
    color: white;
    border-color: $main-color;
  }
  &:focus {
    outline-style: none;
    box-shadow: 0 0 0 0.2rem rgba($main-color, 0.5);
  }
}

// BOOKLIST

.bookList {
  border-bottom: 2px dashed white;
  height: $circleEraHeight;

  li {
    position: absolute;

    &:nth-child(odd) .btnBook {
      box-shadow: 2px 2px 0px 0px $third-color;

      &:hover {
        box-shadow: 5px 5px 0px 0px $third-color;
        border-color: $third-color;
      }

      &_icon svg {
        fill: $third-color;
      }
    }
  }
}

.btnBook {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5rem;
  border: 2px solid transparent;
  padding: ($base-line-height / 5) $base-line-height/2;
  box-shadow: 2px 2px 0px 0px $secondary-color;
  text-align: left;
  line-height: 100%;
  z-index: 20;
  &:hover {
    box-shadow: 5px 5px 0px 0px $main-color;
    border-color: $main-color;
  }
  &_infos {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  &_title {
    font-weight: 600;
  }
  &_author {
    font-size: 13px;
  }
  &_icon {
    padding-right: 0.5rem;
    svg {
      fill: $main-color;
    }
  }
}

// AUTHOR LIST

.authorsList,
.bookList {
  position: relative;
  // top: -$circleEraHeight;
  top: -31.5rem;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.authorsList {
  margin-top: $base-line-height; // * 2;
  height: $authorsHeight;
  li {
    position: relative;
  }
}

.btnAuthor {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  text-align: left;
  border-radius: 2rem;
  border: 3px solid white;
  font-size: 14px;
  padding: ($base-line-height / 16) ($base-line-height / 4)
    ($base-line-height / 16) ($base-line-height / 2);
  box-shadow: 1px 1px 0px 0px $main-color;
  //line-height: initial;
  line-height: 110%;
  &:hover {
    border: 3px solid $main-color;
    cursor: pointer;
  }
  &-noDescription {
    background: $light-grey;
    background: none;
    box-shadow: none;
    pointer-events: none;
  }
  svg {
    width: $base-line-height/1.75;
    height: $base-line-height/1.75;
  }
}

.separatorAuthor {
  width: 12rem;
  padding-left: 1rem;
  position: absolute;
  top: $circleEraHeight;
  z-index: 1;
}

/// PAGES

.lo_fullOverlay {
  position: fixed;
  display: block;
  overflow-y: scroll;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  //z-index: 200
}

//////////////////////////////////////////////////////////////
/// POPUP > AUTHOR
//////////////////////////////////////////////////////////////

.lo_fullOverlay_popup {
  position: fixed;
  // display: none;
  overflow-y: scroll;
  background: rgba($middle-grey, 0.85);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1100;
}

.lo_authorPopup {
  max-width: $base-line-height * 22;
  margin: 0 auto;
  background: white;
  border-radius: $base-line-height / 8;
  box-shadow: 4px 4px 0px 0px $main-color;
  // temporary - animate with gsap later
  transform: translate(0px, 0px);

  @include breakpoint($large) {
    margin-top: $base-line-height * 3;
  }
}

.btn_close {
  position: absolute;
  right: 0;
}

.authorPopupContent {
  position: relative;
  padding: $base-line-height;

  @include breakpoint($large) {
    padding: $base-line-height ($base-line-height * 2);
  }
}

.authorPopupContent h2 {
  display: block;
  margin: 0;
}

.authorPopupContent h2::after {
  content: "";
  display: block;
  background: $secondary-color;
  width: $base-line-height * 4;
  height: $base-line-height / 8;
  margin-top: $base-line-height / 2;
}

//////////////////////////////////////////////////////////////
/// PAGES > BOOKS/ERAS
//////////////////////////////////////////////////////////////

.lo_anchorList {
  ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;

    padding: 0 {

    }

    li {
      margin: 0 ($base-line-height / 4) ($base-line-height / 4) 0;
    }

    a {
      display: block;
      padding: ($base-line-height / 8) ($base-line-height / 2);
      border-radius: $base-line-height;
      color: $dark-grey;
      text-decoration: none;
      background: $light-grey;
    }
  }
}

.lo_pageTopBar {
  background: $main-color;
  color: white;
  position: sticky;
  top: 0;
  padding: 0 ($base-line-height / 4);
  height: $topBarHeight;
  display: flex;
  align-items: center;
  z-index: 1;
  color: white;
  font-size: 0.9rem;
}

.pageTopBar_firstItem {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 ($base-line-height / 2);
}

.page_banner {
  position: relative;
  overflow: hidden;
  height: 30vh;
  background: $secondary-color;

  @include breakpoint($large) {
    height: 33vh;
  }
}

.page_banner img {
  display: block;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  //transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;

  @include breakpoint($large) {
    // transform: translate(-50%, -25%);
  }
}

.page_banner_title {
  @extend %restrained;

  position: relative;
  background: white;
  padding-top: $base-line-height / 8;

  @include breakpoint($large) {
    bottom: $base-line-height * 4;
  }
}

.page_content {
  @extend %restrained;

  position: relative;
  bottom: $base-line-height * 3;
  background: white;

  @include breakpoint($medium) {
    // * Make sure images aligns vertically with heading when
    // * figure/image is floating
    figure + h3,
    figure + h2,
    figure + h5,
    figure + p,
    img + h3,
    img + h2,
    img + h5,
    img + p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.page h3::after {
  content: "";
  display: block;
  background: $secondary-color;
  width: $base-line-height * 4;
  height: $base-line-height / 5;
  margin-top: $base-line-height / 2;
}

/// PAGE > BOOK SPECIFIC

.page_content_bookAuthor {
  border-bottom: 1px dashed $middle-grey;
  padding-top: 0;
  padding-bottom: $base-line-height;
}

.page_content_bookName {
  background: white;
  padding-top: $base-line-height;
  margin-bottom: 0;
}

.page_content_author {
  display: flex;
  font-weight: bold;
}

.page_content_author svg {
  margin-right: $base-line-height / 4;
  fill: $main-color;
}

.page_content img,
.page_content figure {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  @include breakpoint($medium) {
    &.left-image {
      // padding-right: 16px;
      float: left;
      margin-left: 0;
      margin-right: 1rem;
      margin-top: 5px;
      img {
        display: inline;
      }
    }
    &.right-image {
      // padding-left: 1rem;
      float: right;
      margin-right: 0;
      margin-left: 1rem;
      margin-top: 5px;
      img {
        display: inline;
      }
    }
  }
}

/// PAGE > ERA SPECIFIC

.page_circleEra {
  @extend %restrained;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -$base-line-height * 8;

  @include breakpoint($large) {
    margin-top: -$base-line-height * 10;
  }
  .circleEra_content {
    max-width: $base-line-height * 15;
  }

  .circleEra_title {
    font-size: 2.5rem;
    padding-bottom: $base-line-height/1.5;
  }
}

/// MAIN MENU

.mainMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: $light-grey;
  text-transform: none;
  font-weight: bold;
  padding: 0 $base-line-height;
  box-shadow: $shadow-z4;
  z-index: 2100;

  @include breakpoint($medium) {
    width: 26rem;
  }

  &_title {
    font-size: 2.197rem;
    color: $main-color;
    padding-top: $base-line-height;
  }

  &_list {
    list-style-type: none;
    padding: 0;
    &_item {
      margin: 0;
      color: $main-font-color;
      padding: $base-line-height/4 0;
      a {
        font-size: 1.1rem;
        color: $main-font-color;
        &:hover {
          color: $main-color;
        }
      }
    }
  }

  .btn_close {
    padding: $base-line-height/2;
  }
}

.page_copyright {
  margin-top: 6rem;
}

.page_period,
.page_book {
  .page_banner_wrapper {
    max-width: 80rem;
    margin: 0 auto;
  }
  .page_banner {
    //filter: blur(3px);
    margin-top: -3px;
  }
  .page_banner img {
    filter: grayscale(1); // blur(2px);
  }
  h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    line-height: 28px;
    margin-bottom: 0;
    // margin-top: 0;
  }
  h5 + p,
  h5 + ul {
    margin-top: 0;
  }
}

.figure-left {
  margin: 5px 1rem 1rem 0;
  padding-right: 1rem;
}
.figure-right {
  margin: 5px 0 1rem 1rem;
  padding-left: 1rem;
}

.portretter {
  figure {
    padding: 5px;
  }

  img {
    height: 250px;
    object-fit: cover;
  }

  &.portretter-4 img {
    height: 175px;
  }
  &.portretter-5 img {
    height: 120px;
  }
}
